* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  background-color:lightpink;

  margin: 10px;
  padding: 10px;

}
.first-child > form > input{
    border: none;
    border-bottom: 5px solid green;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.secound-child{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.secound-child > h1{
    border-bottom: 1px solid rgb(185, 179, 179);
    margin-bottom: 15px;
    padding-bottom: 4px;
}
.secound-child-password-length{
    display: flex;
    margin-top: 6px;
    gap: 10px;
}

 