@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Lato&family=Pixelify+Sans&family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Roboto Slab', serif;
}

.parent {
  background-color:lightblue;
  width: 400px;
  margin: 10px;
padding: 20px;
  border-radius: 20px;
  /* padding-bottom: 50px; */
  margin: 2rem auto;

}
.first-child > form > input{
    border: none;
    border-bottom: 5px solid green;
    border-radius: 10px 10px 0 0;
    /* padding: 10px 20px; */
    margin-bottom: 10px;
    font-size: 22px;
  width: 220px;
  padding: 5px 10px;
  text-decoration: none;
  outline: none;
}

.secound-child{
    background-color: white;
    border-radius: 10px;
    padding: 17px;
    margin-top: 7px;
}
.secound-child > h1{
    border-bottom: 1px solid rgb(185, 179, 179);
    margin-bottom: 15px;
    padding-bottom: 4px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.secound-child-password-length{
    /* display: flex; */
    margin-top: 6px;
    gap: 10px;
    width: 100%;
 
}
.secound-child-password-length > input{
  padding-right: 10px;
  /* width: 100%; */
  outline: none;
}

.reset-button{
  margin-left: 20px;
  /* padding: 10px 40px; */
  border-radius: 6px;
  border:none;
  background-color: white;
  border-bottom: 5px solid green;
  border-radius: 10px 10px 0px 0px; 
font-size:19px;
  
padding: 6px 20px;
padding-bottom: 8px;
margin-bottom: 10px;
font-weight:lighter;


}



.first-child{
  display: flex;
  align-items: center;
  justify-content: center;
}
.secound-child-secound-option{
  display: flex;
  gap: 20px;
  padding: 15px 0px;
  /* justify-content: center; */
  align-items: center;

}

.copy-button{
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  padding: 7px 40px;
  border: none;
  margin-top: 10px;
  border-radius: 30px;
  background-color: lightgreen;
  color: green;

}
 
 .copy-button:active{
  background-color: green;
  color: lightgreen;
 }
.third-child{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.password-input{
  border: none;
  background-color: lightblue;
  padding:6px 0px;
  padding-left: 13px;
  border-radius: 6px;
  font-size: 18px;
  margin-bottom: 15px;
}
.input-range{
  border: none;
  accent-color: coral;
  padding: 0;
  cursor: pointer;
}
.popup{
position: absolute;
top: -10px;
background-color: rgba(15, 14, 14, 0.6);
border-radius: 20px;
color: white;
padding: 5px 18px;
transition: 5s ease-in-out;
}